.menu
  position absolute
  z-index 100
  width  100%
  height 100%
  display flex
  flex-flow row wrap
  align-items center
  align-content center
  background url('assets/img/b-bg.jpg') center center no-repeat
  background-size contain

  transition opacity .3s
  pointer-events none
  opacity 0
  &--open
    pointer-events auto
    opacity 1

.head
  width  244px
  height 115px
  background url('assets/img/head.png') center center no-repeat
  background-size contain
  margin 48px auto 12px

.teams
  width  100%
