.board
	width  1024px
	height 768px
	// background-color #000
	background-color #FCF19D
	color: #fff
	text-align: center
	font-family 'Impact'



.head
	position: relative
	display: inline-block
	margin: 20px 0
	width: 980px
	height 270px

.team
	position absolute
	width 580px
	height 100%
	top 0
	left 0
	background: url('assets/img/team.jpg')
	background-size: cover
