.vote
	position: absolute
	width  100%
	height 100%

.team
	position relative
	display: inline-block
	width: 33.3%
	height: 25%
	text-align center
	&:before
	span
		display inline-block
		vertical-align middle
	&:before
		content ''
		width  0
		height 100%
	span
		font-size 80px
		color rgba(#000,.3)

.item
	position relative
	display: inline-block

	vertical-align: top
	background-color: #046380
	color: #fff
	text-align: center
	border 1px solid #fff
	box-sizing: border-box
	width: 33.3%
	height: 25%
	&--wide
		width: 66.6%

	opacity: .4

	span
		font-size: 54px
		position absolute
		left 50%
		top  50%
		width  60px
		height 60px
		margin-left -@width * .5
		margin-top  -@height * .5
		transition transform .3s
		line-height: @height

	&--selected
		pointer-events: none
		background-color: #046380
		opacity: 1
		&:before
			position absolute
			left 0
			top 0
			width 100%
			height 100%

			content: ''
			background-color: #046380
			@keyframes blink
				from
					transform none
					opacity 1
				to
					transform scale(1.3)
					opacity 0
			animation: blink .8s
		span
			transform scale(1.3)
