w = 50px

.votebar
	position:relative
	display inline-block
	width w
	height 360px
	margin: 20px


.score
	position: absolute
	font-size 32px
	left 0
	bottom - w
	width  w
	height w
	line-height: w
	box-sizing: border-box
	background-color: #396
	// background-color: #fff
	color: #FCF19D
	// color: #000


.part
	position: absolute
	width: w
	left 0
	bottom: 0
	background-color: #68D1C4
	// background-color: #CFE465
	// background-color: #9f9
	transition height 1s

.num
	position: absolute
	left: 0
	font-size: 24px
	top: -28px
	height 28px
	width 100%
	color #E4A53B
