.scores
  position absolute
  width 400px
  height 100%
  top 0
  right 0
  text-align center
  color #E4A53B
  filter: drop-shadow(4px 4px 0 rgba(#000,.7))

bottom = 0px

.left
  position absolute
  font-size: 260px
  right 150px
  bottom bottom

.right
  position absolute
  font-size: 180px
  left 260px
  bottom bottom + 10px
